{% from "utils.njk" import icon %}

{% set nav %}
  <ul class="navList">
    {% for item in site.nav %}
      <li class="navItem">
        <a href="{{ item.link }}">{{ item.name }}</a>
      </li>
    {% endfor %}
  </ul>
{% endset %}

<div id="headerBar">
  <a href="/" id="headerBarLogo">Korps i kulturlandskap</a>

  <nav id="headerBarNav">
    {{ nav | safe }}
  </nav>

  <button id="navMenuOpen" type="button">
    {{ icon("menu", "Open navigation", "extraLarge") }}
  </button>

  <div id="navMenu" class="collapsed">
    <button id="navMenuClose" type="button">
      {{ icon("x", "Close navigation", "extraLarge") }}
    </button>

    <nav>
      {{ nav | safe }}
    </nav>
  </div>
</div>
<div id="headerBarSpacer"></div>
