<nav>
  <ul>
    <li><a href="./">Sør-Fron Regionstevne 2021</a></li>
    <li><a href="./">Påmelding</a></li>
    <li><a href="./">Program</a></li>
    <li><a href="./">Deltagende korps</a></li>
    <li><a href="./">Om oss</a></li>
    <li><a href="./">Kontakt</a></li>
  </ul>
</nav>
