{% macro mainSection(id, classes="", alternating=false, thin=false) %}
  <div
    id="{{ id }}Wrapper"
    class="mainSectionWrapper {{classes}} {{ 'alternating' if alternating }}"
  >
    <section
      id="{{ id }}"
      class="mainSection {{ 'thin' if thin }}"
    >
      {{ caller() | safe }}
    </section>
  </div>
{% endmacro %}

{% macro icon(name, title, size="") %}
  <svg class="icon {{ size }}">
    <title>{{ title }}</title>
    <use xlink:href="/icons/icons.svg#{{ name }}" />
  </svg>
{% endmacro %}
