{% macro newsCard(post) %}
  <section class="newsCard card">
    <img
      class="image"
      src="{{ post.data.image.link }}"
      alt="{{ post.data.image.text }}"
    />

    <div class="info">
      <h3 class="title">
        <a class="link" href="{{ post.url }}">{{ post.data.title }}</a>
      </h3>

      <p class="blurb">{{ post.data.blurb }}</p>
    </div>
  </section>
{% endmacro %}
