---
permalink: /program/
---
{% extends "base/BasePage.njk" %}

{% block main %}
  {% include "lead.njk" %}

  <nav id="navProgram">
    {% for day in program %}
      <a class="navProgramItem baseButton" href="#day{{ loop.index }}">{{ day.title }}</a>
    {% endfor %}
  </nav>

  {% for day in program %}
    <section id="day{{ loop.index }}" class="mainSection thin">
      <div class="container">
        <h2>{{ day.title }}</h2>

        {% for event in day.events %}
          <section class="event">
            <div class="eventTime">{{ event.time }}</div>
            <div class="eventInfo">
              <h3 class="eventTitle">{{ event.title }}</h3>
              <div class="eventDescription">{{ event.description }}</div>
            </div>
          </section>
        {% endfor %}
      </div>
    </section>
  {% endfor %}
{% endblock %}
