---
permalink: /program/
---
{% extends "base/BasePage.njk" %}

{% block content %}
  <h1>{{ title }}</h1>
  <p>{{ lead }}</p>

  <nav id="programNav">
    {% for day in program %}
      <a class="baseButton programNavItem" href="#day{{ loop.index }}">{{ day.title }}</a>
    {% endfor %}
  </nav>

  {% for day in program %}
    <section
      id="day{{ loop.index }}"
      class="programDay"
    >
      <h2>{{ day.title }}</h2>
      <div class="events">
        {% for event in day.events %}
          <section class="event">
            <div class="eventTime">{{ event.time }}</div>
            <div class="eventInfo">
              <h3 class="eventTitle">{{ event.title }}</h3>
              <div class="eventDescription">{{ event.description }}</div>
            </div>
          </section>
        {% endfor %}
      </div>
    </section>
  {% endfor %}
{% endblock %}
