---
permalink: /program/
---
{% extends "layouts/base.njk" %}
{% from "components/lead.njk" import lead as leadComponent %}

{% block main %}
  {{ leadComponent(lead.title, lead.text) }}

  <nav id="navProgram">
    {% for day in program %}
      <a class="navProgramItem button" href="#day{{ loop.index }}">{{ day.title }}</a>
    {% endfor %}
  </nav>

  {% for day in program %}
    <section id="day{{ loop.index }}" class="mainSection thin">
      <div class="container">
        <h2>{{ day.title }}</h2>

        {% for event in day.events %}
          <section class="event card rounded">
            <div class="eventTime">{{ event.time }}</div>
            <div class="eventInfo">
              <h3 class="eventTitle">{{ event.title }}</h3>
              <div class="eventDescription">
                {% markdown %}
                  {{ event.description }}
                {% endmarkdown %}
              </div>
            </div>
          </section>
        {% endfor %}
      </div>
    </section>
  {% endfor %}
{% endblock %}
