---
permalink: /omOss/
---
{% set bodyClass = "about" %}
{% extends "layouts/base.njk" %}
{% from "components/lead.njk" import lead as leadComponent %}

{% block main %}
  <section class="mainSection hml">
    <div class="container">
      <h2>{{ hml.title }}</h2>
      <picture>
        <source srcset="{{ hml.picture }}?nf_resize=fit&w=450" media="(max-width: 600px)" />
        <img
          class="image card largeShadow"
          src="{{ hml.picture }}?nf_resize=fit&w=850"
          alt="Bilde av Hundorp Musikklag"
        />
      </picture>

      <div class="content">
        {% markdown %}
          {{ hml.text | safe }}
        {% endmarkdown %}
      </div>
    </div>
  </section>
{% endblock %}
