---
permalink: /samarbeidspartnere/
---
{% extends "layouts/base.njk" %}
{% from "components/lead.njk" import lead as leadComponent %}

{% block main %}
  {{ leadComponent(lead.title, lead.text) }}
{% endblock %}
