<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/main.css" />
    {% block head %} {% endblock %}
    <title>
      {% block title %}
        {{ pageTitle }}
      {% endblock %}
    </title>
  </head>
  <body>
    <header>
      {% block header %}
        {% include "header/headerBar.njk" %}
      {% endblock %}
    </header>
    
    <main id="main" role="main">
      {% block main %} {% endblock %}
    </main>

    {% set js %}
      {% include "cmsRedirect.js" %}
      {% include "core.js" %}
      {% include "header/navMenu.js" %}
    {% endset %}
    <script>
      {{ js | jsmin | safe }}
    </script>
  </body>
</html>
