{% extends "layouts/base.njk" %}

{% block title %}
  {{ title | title }}
{% endblock %}

{% block main %}
  <section class="newsPost mainSection">
    <div class="container">
      <h1 class="title">{{ title | title }}</h1>
      <p class="date">{{ date | humanReadableDate }}</p>

      <picture>
        <source srcset="{{ image.link }}?nf_resize=fit&w=450" media="(max-width: 600px)" />
        <img
          class="image"
          src="{{ image.link }}?nf_resize=fit&w=850"
          alt="{{ image.text }}"
        />
      </picture>

      <div class="content">
        {{ content | safe }}
      </div>
    </div>
  </section>
{% endblock %}
