---
permalink: /
---
{% extends "base/BasePage.njk" %}

{% block title %}
  {{ title }}
{% endblock %}

{% block header %}
  {% include "header/headerSplash.njk" %}
  {% include "header/headerBar.njk" %}
{% endblock %}

{% block content %}
  <h1>{{ title }}</h1>
  {% markdown %}
    {{ content }}
  {% endmarkdown %}
{% endblock %}
