<div id="headerSplash">
  <div id="headerSplashOverlay"></div>
  <div id="headerSplashLogo">Sør-Fron Regionstevne <br /> 2021</div>
  <div id="headerSplashSlogan">"Korpsmusikk i kulturlandskap"</div>
</div>
<div id="headerSplashSpacer"></div>