{% from "macros.njk" import icon %}

<div id="headerBarWrapper">
  <div id="headerBar">
    <a href="/" id="headerBarLogo">Korps i kulturlandskap</a>

    <nav id="headerBarNav">
      {% include "header/navList.njk" %}
    </nav>

    <button id="navMenuOpen" type="button">
      {{ icon("menu", "Open navigation", "large") }}
    </button>

    <div id="navMenu" class="collapsed">
      <button id="navMenuClose" type="button">
        {{ icon("x", "Close navigation", "large") }}
      </button>

      <nav>
        {% include "header/navList.njk" %}
      </nav>
    </div>
  </div>
</div>
