<ul class="navList">
  <li class="navItem"><a href="/">Hjem</a></li>
  <li class="navItem"><a href="/pamelding/">Påmelding</a></li>
  <li class="navItem"><a href="/program/">Program</a></li>
  <li class="navItem"><a href="/">Deltagende korps</a></li>
  <li class="navItem"><a href="/">Om oss</a></li>
  <li class="navItem"><a href="/">Kontakt</a></li>
</ul>