<ul class="navList">
  <li class="navItem"><a href="/">Hjem</a></li>
  <li class="navItem"><a href="/">Overnatting</a></li>
  <li class="navItem"><a href="/program/">Program</a></li>
  <li class="navItem"><a href="/">Konsertprogram</a></li>
  <li class="navItem"><a href="/">Om oss</a></li>
  <li class="navItem"><a href="/">Samarbeidspartnere</a></li>
</ul>