<ul class="navList">
  <li class="navItem"><a href="/">Hjem</a></li>
  <li class="navItem"><a href="/overnatting/">Overnatting</a></li>
  <li class="navItem"><a href="/program/">Program</a></li>
  <li class="navItem"><a href="/konsertProgram/">Konsertprogram</a></li>
  <li class="navItem"><a href="/omOss/">Om oss</a></li>
  <li class="navItem"><a href="/samarbeidspartnere/">Samarbeidspartnere</a></li>
</ul>