---
permalink: /nyheter/
---
{% extends "layouts/base.njk" %}
{% from "components/lead.njk" import lead as leadComponent %}
{% from "components/newsCard.njk" import newsCard %}

{% block main %}
  <section class="mainSection">
    <div class="container">
      <h1>Nyheter</h1>

      <div class="newsReel">
        {% for newsPost in collections.newsPosts | reverse %}
          {{ newsCard(newsPost) }}
        {% endfor %}
      </div>
    </div>
  </section>
{% endblock %}
