---
permalink: /praktiskInfo/
---
{% set bodyClass = "praktiskInfo" %}
{% extends "layouts/base.njk" %}
{% from "components/lead.njk" import lead as leadComponent %}
{% from "components/textMedia.njk" import textMedia %}

{% block main %}
  {{ leadComponent(lead.title, lead.text) }}

  <section class="mainSection thin">
    <div class="container">
      <h2>{{ map.title }}</h2>
      <div class="card largeShadow">
        <img
          id="map"
          src="{{ map.image }}?nf_resize=fit&w=850"
          alt="Kart med oversikt over stevnet"
          title="Kart med oversikt over stevnet"
        />
      </div>
    </div>
  </section>

  <section class="mainSection thin">
    <div class="container">
      <h2>{{ taxi.title }}</h2>
      {% markdown %}
        {{ taxi.content | safe }}
      {% endmarkdown %}
    </div>
  </section>

  <section class="mainSection thin">
    <div class="container">
      <h2>{{ food.title }}</h2>
      {% markdown %}
        {{ food.content | safe }}
      {% endmarkdown %}
    </div>
  </section>
{% endblock %}
