{% extends "base/BasePage.njk" %}

{% block title %}
  Sør-Fron Regionstevne 2021
{% endblock %}

{% block header %}
  <div id="splash">
    <div id="splashOverlay"></div>
    <div id="splashLogo">Sør-Fron Regionstevne <br /> 2021</div>
    <div id="splashSlogan">"Korpsmusikk i kulturlandskap"</div>
  </div>
  <div id="splashSpacer"></div>

  {% include "header/headerBar.njk" %}
{% endblock %}

{% block content %}
  {% markdown %}
    {% include "pages/index.md" %}
  {% endmarkdown %}
{% endblock %}
