{% extends "base/BasePage.njk" %}

{% block title %}
  Korps i kulturlandskap
{% endblock %}

{% block header %}
  {% include "header/headerSplash.njk" %}
  {% include "header/headerBar.njk" %}
{% endblock %}

{% block content %}
  {% markdown %}
    {% include "pages/index.md" %}
  {% endmarkdown %}
{% endblock %}
