/* Base */
body {
  background-color: #f5f5f5;
  color: rgb(0, 0, 0, 0.85);
  font-size: 18px;
  line-height: 1.4;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  margin: 0;
}
h1,
h2,
h3 {
  color: rgba(0, 0, 0, 0.73);
  text-align: center;
}
h1,
h2 {
  line-height: 1.5;
  margin: 0 0 16px 0;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 40px;
}
h3 {
  color: rgba(0, 0, 0, 0.75);
  font-size: 30px;
  margin: 0 0 8px 0;
}
@media only screen and (max-width: 600px) {
  body {
    font-size: 16px;
  }
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 25px;
  }
}

a {
  color: forestgreen;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a.baseButton:hover {
  text-decoration: none;
}
a.internalLink::after {
  content: " →";
}
a.externalLink::after {
  content: " ↗";
}

.wave {
  display: block;
  position: relative;
}
/* For removing a very tiny gap that sometimes appear between a wave and its section */
.wave.top {
  bottom: -1px;
}
.wave.bottom {
  top: -1px;
}

.baseButton {
  display: inline-block;
  padding: 18px 32px;
  background-color: forestgreen;
  color: white;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0 4px 1px -1px #145214;
  transition: background-color 0.25s;
}
.baseButton:hover {
  background-color: #1e7b1e;
}

.icon {
  width: 1em;
  height: 1em;
  fill: none;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.icon.large {
  width: 1.3em;
  height: 1.3em;
}
.icon.extraLarge {
  width: 2em;
  height: 2em;
}
.icon.huge {
  width: 4em;
  height: 4em;
}

#main {
  width: 100%;
  overflow: auto;
  background-color: #f5f5f5;
}
.mainSection {
  display: flex;
  justify-content: center;
  padding: 50px 0;
}
.mainSection:first-child {
  padding-top: 25px;
}
.mainSection:last-child {
  padding-bottom: 25px;
}
.mainSection > .container {
  width: 100%;
  max-width: 1100px;
  margin: 0 20px;
}
.mainSection.thin > .container {
  max-width: 680px;
}
@media only screen and (max-width: 600px) {
  .mainSection {
    padding: 25px 0;
  }
}

.card {
  background-color: white;
  box-shadow: 0 15px 15px rgba(64, 93, 50, 0.03),
    5px 10px 15px rgba(0, 0, 0, 0.1);
}
.card.rounded {
  border-radius: 10px;
}
.card.largeShadow {
  box-shadow: 0 15px 15px rgba(64, 93, 50, 0.03),
    10px 10px 25px rgba(0, 0, 0, 0.2);
}

.listMedia {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.listMedia li {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 280px;
  margin: 30px;
}

/* Components */
#lead {
  text-align: center;
  padding-bottom: 0;
}

.textMedia > .container {
  display: flex;
  align-items: center;
}
.textMedia.reversed > .container {
  flex-direction: row-reverse;
}
.textMedia .desktopOnly {
  width: 55%;
}
.textMedia .content {
  width: 45%;
  margin: 0 48px;
}
.textMedia .title {
  text-align: left;
}
.textMedia .mediaWrapper.desktopOnly {
  display: block;
  width: 55%;
}
.textMedia .mediaWrapper.mobileOnly {
  display: none;
  width: 100%;
}
.textMedia .mediaWrapper > * {
  display: block;
  width: 100%;
}
@media only screen and (max-width: 1000px) {
  .textMedia > .container {
    flex-direction: column;
    max-width: 680px;
  }
  .textMedia.reversed > .container {
    flex-direction: column;
  }
  .textMedia .content {
    width: 100%;
    margin: 0;
  }
  .textMedia .title {
    text-align: center;
  }
  .textMedia .mediaWrapper.desktopOnly {
    display: none;
  }
  .textMedia .mediaWrapper.mobileOnly {
    display: block;
  }
}

/* Header */
#headerBarWrapper {
  width: 100%;
  height: 48px;
  background-color: forestgreen;
}
#headerBar {
  display: flex;
  align-items: center;
  max-width: 960px;
  height: 100%;
  margin: auto;
  padding: 0 16px;
}
#headerBarLogo {
  margin-right: auto;
  font-size: 20px;
  color: white;
  text-decoration: none;
  text-align: center;
}
#headerBarLogo:hover {
  text-decoration: underline;
}

#headerSplash {
  height: 700px;
  max-height: 60vh;
  background-color: forestgreen;
  display: flex;
  justify-content: start;
  align-items: center;
}
#headerSplashSlogan {
  margin-left: 15%;
  color: white;
  text-align: center;
  font-size: 75px;
  font-family: "Dancing Script", cursive;
}
@media only screen and (max-width: 600px) {
  #headerSplash {
    justify-content: center;
  }
  #headerSplashSlogan {
    margin: 0;
    font-size: 60px;
  }
}

.navList {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.navItem a {
  color: white;
  text-decoration: none;
}
.navItem a:hover {
  text-decoration: underline;
}

#headerBarNav .navItem {
  padding: 0 12px;
}
#headerBarNav .navItem a {
  font-size: 16px;
}

#navMenuOpen,
#navMenuClose {
  background-color: forestgreen;
  color: white;
  cursor: pointer;
  border: none;
}
#navMenuClose {
  position: absolute;
  top: 12px;
  right: 12px;
}
#navMenu {
  visibility: visible;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transform: scaleY(1);
  transform-origin: top;
  transition: transform 0.3s ease, visibility 0.3s ease;
  overflow: auto;
  background-color: forestgreen;
}
#navMenu.collapsed {
  visibility: hidden;
  transform: scaleY(0);
}
#navMenu .navList {
  flex-direction: column;
  margin-top: 16px;
}
#navMenu .navItem {
  padding: 12px 0;
}
#navMenu .navItem a {
  font-size: 32px;
  font-weight: 600;
}

#headerBarNav {
  display: block;
}
#navMenu {
  display: none;
  z-index: 1;
}
#navMenuOpen {
  display: none;
}
@media only screen and (max-width: 960px) {
  #headerBarNav {
    display: none;
  }
  #navMenuOpen {
    display: inline;
  }
  #navMenu {
    display: block;
  }
}

/* Home */
#signUp > .container {
  padding: 35px;
  padding-top: 25px;
}
#signUpLink {
  text-align: center;
}
@media only screen and (max-width: 600px) {
  #signUp > .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

#news > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#news .moreNewsLink {
  margin-top: 24px;
}

#contact {
  background-color: forestgreen;
  color: white;
  font-size: 30px;
}
#contact .title {
  color: white;
  font-size: 65px;
}
#contact .icon {
  margin-bottom: 24px;
}
#contact a {
  color: white;
  text-decoration: underline;
  font-weight: bold;
}
#contact a:hover {
  text-decoration: none;
}
@media only screen and (max-width: 600px) {
  #contact .title {
    font-size: 50px;
  }
}

/* Program */
#navProgram {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navProgramItem {
  margin: 8px;
}
@media only screen and (max-width: 600px) {
  #navProgram {
    flex-direction: column;
  }
}

.event {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  padding: 24px;
  padding-top: 14px;
}
.eventInfo {
  margin-left: 24px;
}
.eventTime {
  font-size: 30px;
}
.eventTitle {
  text-align: left;
  color: forestgreen;
}
.eventDescription > :first-child {
  margin-top: 0;
}
.eventDescription > :last-child {
  margin-bottom: 0;
}
.eventDescription p {
  margin: 4px;
}
.eventDescription ul {
  margin: 4px;
  padding-left: 20px;
}
@media only screen and (max-width: 600px) {
  .event {
    flex-direction: column;
  }
  .eventInfo {
    margin-left: 0;
  }
  .eventTime {
    margin-bottom: 8px;
  }
  .eventTitle {
    text-align: center;
  }
}

/* Overnatting */
.place {
  margin-bottom: 96px;
}
.place .contact {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.place .contact li {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}
.place .contact .icon {
  margin-right: 6px;
}
@media only screen and (max-width: 1000px) {
  .place {
    margin-bottom: 0;
  }
}

/* Partners */
.partner {
  transition: transform 0.4s;
}
.partner:hover {
  transform: scale(1.1);
}
.partner a {
  width: 100%;
}
.partners img {
  width: 100%;
}

/* News */
.newsReel {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.newsCard {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 20px;
  transition: transform 0.4s;
}
.newsCard:hover {
  transform: scale(1.05);
  background-color: forestgreen;
  color: white;
}
.newsCard:hover .link {
  color: white;
  text-decoration: none;
}
.newsCard .image {
  width: 100%;
  max-width: 850px;
  height: 200px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.newsCard .info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 25px;
  padding-top: 15px;
}
.newsCard .title {
  margin: 0;
}
.newsCard .link {
  color: inherit;
}
.newsCard .link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.newsCard .blurb {
  text-align: center;
}
.newsCard .link {
  margin-top: auto;
}

.newsPost .title {
  margin-bottom: 8px;
  font-size: 40px;
}
.newsPost .date {
  margin: 0;
  text-align: center;
  font-size: 14px;
}
.newsPost .image {
  width: 100%;
  margin: 40px 0;
}
.newsPost .content {
  margin: auto;
  max-width: 680px;
}
@media only screen and (max-width: 600px) {
  .newsPost .title {
    font-size: 30px;
  }
  .newsPost .image {
    margin: 25px 0;
  }
}
