{% extends "base/BasePage.njk" %}

{% block title %}
  Program
{% endblock %}

{% block content %}
  {% markdown %}
    {% include "pages/program.md" %}
  {% endmarkdown %}

  <nav id="programNav">
    {% for day in programData %}
      <a class="baseButton programNavItem" href="#day{{ loop.index }}">{{ day.title }}</a>
    {% endfor %}
  </nav>

  {% for day in programData %}
    <section
      id="day{{ loop.index }}"
      class="programDay"
    >
      <h2>{{ day.title }}</h2>
      <div class="events">
        {% for event in day.events %}
          <section class="event">
            <div class="eventTime">{{ event.time }}</div>
            <div class="eventInfo">
              <h3 class="eventTitle">{{ event.title }}</h3>
              <div class="eventDescription">{{ event.description }}</div>
            </div>
          </section>
        {% endfor %}
      </div>
    </section>
  {% endfor %}
{% endblock %}
