---
permalink: /overnatting/
---
{% extends "layouts/base.njk" %}
{% from "utils.njk" import icon %}
{% from "components/lead.njk" import lead as leadComponent %}
{% from "components/textMedia.njk" import textMedia %}

{% block main %}
  {{ leadComponent(lead.title, lead.text) }}

  {% for place in places %}
    {% set media %}
      <img src="{{ place.image }}" alt="Bilde av {{ place.name }}" />      
    {% endset %}
    {% set extra %}
      <ul>
        <li>
          {{ icon("link", "Nettside", "large") }}
          <a href="{{ place.website }}">{{ place.website }}</a>
        </li>
        <li>
          {{ icon("mail", "E-mail", "large") }}
          <a href="mailto:{{ place.email }}">{{ place.email }}</a>
        </li>
        <li>
          {{ icon("phone", "Telefonnummer", "large")}}
          <ul>
            {% for phoneNumber in place.phoneNumbers %}
              <li>
                <a href="mailto:{{ phoneNumber }}">{{ phoneNumber }}</a>
              </li>
            {% endfor %}
          </ul>
        </li>
        <li>
          {{ icon("map-pin", "Addresse", "large") }}
          <a href="https://www.google.com/maps/@{{ place.address.latitude }},{{ place.address.longitude }},16z">{{ place.address.text }}</a>
        </li>
      </ul>
    {% endset %}
    {{ textMedia(
      title     = place.name,
      text      = place.description,
      media     = media,
      extra     = extra,
      reversed  = loop.index % 2 === 1,
      classes   = "place"
      )
    }}
  {% endfor %}
{% endblock %}
