---
permalink: /overnatting/
---
{% extends "layouts/base.njk" %}
{% from "utils.njk" import icon %}
{% from "components/lead.njk" import lead as leadComponent %}
{% from "components/contentMedia.njk" import contentMedia %}

{% block main %}
  {{ leadComponent(lead.title, lead.text) }}

  {% for place in places %}
    {% set content %}
      <div class="info">
        {% markdown %}
          {{ place.description | safe }}
        {% endmarkdown %}

        <ul>
          <li><span class="descriptor">Senger</span>: {{ place.beds }}</li>
          <li><span class="descriptor">Pris</span>: {{ place.price }}</li>
          <li><span class="descriptor">Frokost</span>: {{ place.breakfast }}</li>
        </ul>
      </div>

      <div class="contact">
        <ul>
          <li>
            {{ icon("link", "Nettside", "large") }}
            <a href="{{ place.website }}">{{ place.website }}</a>
          </li>
          <li>
            {{ icon("mail", "E-mail", "large") }}
            <ul>
              {% for email in place.emails %}
                <li>
                  <a href="mailto:{{ email }}">{{ email }}</a>
                </li>
              {% endfor %}
            </ul>
          </li>
          <li>
            {{ icon("phone", "Telefonnummer", "large")}}
            <ul>
              {% for phoneNumber in place.phoneNumbers %}
                <li>
                  <a href="tel:{{ phoneNumber }}">{{ phoneNumber }}</a>
                </li>
              {% endfor %}
            </ul>
          </li>
          <li>
            {{ icon("map-pin", "Addresse", "large") }}
            <a href="https://www.google.com/maps/@{{ place.address.latitude }},{{ place.address.longitude }},16z">{{ place.address.text }}</a>
          </li>
        </ul>
      </div>
    {% endset %}
    {% set media %}
      <img src="{{ place.image }}" alt="Bilde av {{ place.name }}" />      
    {% endset %}
    {{ contentMedia(
      title     = place.name,
      content   = content,
      media     = media,
      reversed  = loop.index % 2 === 1,
      classes   = "place"
      )
    }}
  {% endfor %}
{% endblock %}
