---
pagination:
  data: bands
  size: 1
  alias: band
permalink: /konsertProgram/{{ band | slug }}/
---

{% extends "layouts/base.njk" %}

{% block main %}
  <section class="mainSection">
    <div class="container">
      <h1>{{ band }}</h1>

      <ul>
        {% for concert in concertsByBand[band] %}
          <li>
            <ul>
              <li>{{ concert.time }}</li>
              <li>{{ concert.name }}</li>
              <li>{{ concert.location }}</li>
              <li>
                <ul>
                  {% for band in concert.bands %}
                    <li>{{ band }}</li>
                  {% endfor %}
                </ul>
              </li>
            </ul>
          </li>
        {% endfor %}
      </ul>
    </div>
  </section>
{% endblock %}
